/* src/styles.scss */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  .full-width {
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .container,
    .login-card,
    .product-form,
    mat-form-field {
      width: 100% !important;
      margin: 0 auto;
    }
  
    .mat-form-field {
      font-size: 14px;
    }
  
    h2, h3 {
      font-size: 20px;
      text-align: center;
    }
  
    button {
      font-size: 14px;
      width: 100%;
      margin-top: 10px;
    }
  }
  

  .snackbar-success {
    background-color: #4caf50; // Green
    color: #fff;
  }
  
  .snackbar-error {
    background-color: #f44336; // Red
    color: #fff;
  }
  
  .snackbar-info {
    background-color: #2196f3; // Blue
    color: #fff;
  }


  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  app-navbar,
  mat-sidenav-container {
    height: 100%;
    width: 100%;
  }
  
  
  