<!-- navbar.component.html -->
<mat-toolbar color="primary" class="mat-elevation-z4 navbar-toolbar">
    <button mat-icon-button (click)="toggleMenu()" disableRipple class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      
  
    <span class="user-label">{{ isAdminUser ? 'Welcome Admin' : 'Welcome User' }}</span>
  
    <span class="spacer"></span>
  
    <nav class="nav-links" [class.show]="menuOpen">
      <a mat-button routerLink="/products" (click)="closeMenu()">Products</a>
      <a mat-button routerLink="/products/create" *ngIf="isAdmin()" (click)="closeMenu()">Add Product</a>
      <a mat-button routerLink="/users/create" *ngIf="isAdmin()" (click)="closeMenu()">Create User</a>
      <a mat-button (click)="logout(); closeMenu()">Logout</a>
    </nav>
  </mat-toolbar>
  